.App {
  text-align: center;
  font-size:14px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ffffff;
  min-height: 20%;
  margin-top:5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FA130C;
}

.App-link {
  color: #09d3ac;
}

#links {
  width: 80%;
  margin: 20px;
  border: 1px solid #ccc;
  list-style-type: none;
  text-align:left;
  float:left;
}

li {
  width:calc(100% + 40px);
  height:30px;
  border-bottom:1px solid #ccc;
  margin-left:-40px;
  padding:16px 0 10px 10px;
}

li:last-child {
  border:none;
}

.btn {
  padding:5px 10px;
  text-align:center;
  border:1px solid #FA130C;
  border-radius:5px;
  text-decoration:none;
  color:#FA130C;
}

.btn--primary {
  color:#fff;
  background-color:#FA130C;
  float:right;
  margin-right:20px;
}

textarea {
  visibility:hidden;
}

#links li .btn {
  float:right;
  margin: -4px 23px 0 auto;
}

.name-display {
  font-size:1.5em;
}

.current-user {
  color:#FA130C;
}

.allocated-user {
  color:#FA130C;
  opacity:1;
  transition: opacity, 1s;
}

.loading {
  position: absolute;
  top: 38%;
  left: calc(50% - 97px);
  z-index: 2;
}

.loading img {
  height:150px;
}

.loading.done img {
  opacity:0;
  transition: opacity 1s;
}

.form-control {
  float:left;
  clear:left;
  width:100%;
  height:40px;
}

label {
  float: left;
  margin-left: 20px;
  width: 25%;
  text-align: left;
}
input[type=text], input[type=email], input[type=password] {
  width: 50%;
  float: left;
  margin-right: 20px;
  height: 22px;
  border-radius: 4px;
  padding-left:10px;
}



