.App {
  text-align: center;
  font-size:14px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ffffff;
  min-height: 20%;
  margin-top:5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FA130C;
}

.App-link {
  color: #09d3ac;
}

#links {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  list-style-type: none;
  text-align:left;
}

li {
  width:calc(100% + 40px);
  height:30px;
  border-bottom:1px solid #ccc;
  margin-left:-40px;
  padding:16px 0 10px 10px;
}

li:last-child {
  border:none;
}

.btn {
  padding:5px 10px;
  text-align:center;
  border:1px solid #FA130C;
  border-radius:5px;
  text-decoration:none;
  color:#FA130C;
}

.btn--primary {
  color:#fff;
  background-color:#FA130C;
}

textarea {
  visibility:hidden;
}

#links li .btn {
  float:right;
  margin: -4px 23px 0 auto;
}



