.App {
  text-align: center;
  font-size:14px;
}

.App.visitor {
    display:none;
}

.App-logo {
  height: 40vmin;
}

.App-header {
    min-height: 20%;
    margin-top:5%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #FA130C;
    background-color:transparent;
    font-weight:bold;
    width:70%;
    margin-left:15%;
}

.App-link {
  color: #09d3ac;
}

#links {
  width: 80%;
  margin: 20px;
    margin-bottom:80px;
  border: 1px solid #ccc;
  list-style-type: none;
  text-align:left;
  float:left;
}

li {
  width:calc(100% + 40px);
  height:30px;
  border-bottom:1px solid #ccc;
  margin-left:-40px;
  padding:16px 0 10px 10px;
}

li:last-child {
  border:none;
}

p {
    margin:10px auto;
}

.btn {
    padding:5px 10px;
    text-align:center;
    border:1px solid #FA130C;
    border-radius:5px;
    text-decoration:none;
    color:#FA130C;
    cursor:pointer;
}

.btn--primary {
  color:#fff;
  background-color:#FA130C;
  float:right;
  margin-right:20px;
}

.btn--primary#submit {
    float:none;
    margin-top:30px;
}

.btn--primary.no-delete {
    margin-right:20px!important;
}

#links li .btn {
  float:right;
  margin: -4px 10px 0 auto;
}

.name-display {
    font-size:1.5em;
    font-weight:bold;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    background:url(./assets/background-mobile.jpg) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:35%;
}

.text-container {
    width:80%;
    height:70%;
    background: rgba(51, 51, 51, 0.75);
    z-index:1;
    position:absolute;
    top:15%;
    left:10%;
    padding:10px 20px;
    box-sizing:border-box;
}

.name-display p {
    color: white;
    font-size:2em;
}

.current-user {
    color:#FA130C!important;
    font-size:3em!important;
    margin:0 auto;
}

.no-users-yet {
    width:100%;
    float:left;
    text-align:center;
    margin-top:30px;
}

.no-users-yet p {
    color:#FA130C;
    font-size:1.5em;
    font-weight:bold;
}

.allocated-user {
    color:#FA130C!important;
    opacity:0;
    font-size:3em!important;
    margin:0 auto;
}

.allocated-user.show {
    opacity:1;
    transition: opacity, 2s;
}

.loading {
  position: absolute;
  top: 38%;
  left: calc(50% - 97px);
  z-index: 2;
}

.loading img {
  height:150px;
}

.loading.done img {
  opacity:0;
  transition: opacity 1s;
}

.form-control {
  float:left;
  clear:left;
  width:100%;
  height:40px;
}

label {
  float: left;
  margin-left: 20px;
  width: 32%;
  text-align: left;
}
input[type=text], input[type=email], input[type=password] {
  width: 50%;
  float: left;
  margin-right: 20px;
  height: 22px;
  border-radius: 4px;
  padding-left:10px;
}

.visits {
    width: 30px;
    height: 25px;
    display: inline-block;
    background-color: #00c600;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    margin-right: 10px;
    padding-top:5px;
    margin-top:-3px;
}

.delete {
    float: right;
    margin: -3px 26px 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FA130C;
    text-decoration: none;
    cursor: pointer;
}

.no-users {
    color: red;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}

fieldset {
    border:none;
}

.action-container {
    width:100%;
    position:fixed;
    bottom:0;
    text-align:center;
    height:60px;
    background-color:white;
}
.action-container .btn {
    float:none;
    margin:15px 0;
    display:inline-block;
}

@media only screen and (min-width: 600px) {
    form {
        width:50%;
        margin:0 auto;
        text-align:center;
        height:auto;
    }

    .form-control {
        width:70%;
        margin:0 15%;
    }

    #links {
        margin:20px auto 100px 10%;
    }

    .action-container {
        margin-right:25%;
        margin-top:30px;
        text-align:center;
    }

    .action-container .btn {
        float:none;
        margin:0;
    }

    .name-display {
        background:url(./assets/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 320px) {
    label {
        margin-left:20px;
        width:34%;
    }

    fieldset {
        margin-top:20px;
    }

    input {
        width:47%!important;
    }

    #links {
        margin-left:12px;
    }

    .text-container p {
        font-size:1.6em!important;
    }

    #links li {
        width: calc(100% + 30px);
    }

    .btn--primary.no-delete {
        margin-right:10px!important;
    }

    a.delete {
        margin-right:15px;
    }

}





